.intro-section{
    margin-top: 4rem;
    display: flex;
    padding: 5rem 0;
    
}


.i-right{
    flex: 1 1;
    position: relative;
}
.i-right >*{
    position: absolute;
    z-index: 1;
}
.i-right>img:nth-child(1){
    transform: scale(0.69);
    left: -15%;
    top: -9%;
}
.i-right>img:nth-child(2){
    top: -4.6rem;
    transform: scale(0.67);
    left: -3rem
}
.i-right>img:nth-child(3){
    transform: scale(1.3);
    left: 28%;
}
.i-right>img:nth-child(4){
    transform: scale(0.6);
    top: -20%;
    left: -20%;
}